* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(193, 115, 193);
    text-align: center;
}
h1 {
    color: whitesmoke;
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
     
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.3);  
    font-size: 8vmin;
    color: brown; 
    background-color: rgb(247, 247, 156)
}
#reset-btn {
    padding: 0.75rem;
    font-size: 1.25rem;
    background-color: rgb(19, 80, 193);
    color: beige;
    border-radius: 1rem;
    border: none;
}
#new-btn {
    padding: 0.8rem;
    font-size: 1rem;
    background-color: rgb(19, 80, 193);
    color: beige;
    border-radius: 1rem;
    border: none;
}
 
#msg {
    color:black;
    font-size: 6vmin;
}

.msg-container{
    height: 25vmin;
}
.hide {
    display:none;
}